{% extends 'base.html.twig' %}

{% block title %}{{ site_url}}: Edit Members{% endblock %}

{% block body %}
    <h1>Edit Members</h1>

    {{ include('members/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-sm btn-primary" href="{{ path('members_index') }}">back to list</a>

    {{ include('members/_delete_form.html.twig') }}
{% endblock %}
