{% extends 'base.html.twig' %}

{% block title %}{{ site_url}}: {{ site_slogan }}{% endblock %}

{% block body %}

<div class="table-responsive">
    <table class="table homeTable">
        <thead class="table-dark">
        <tr>
            <th scope="col">Cat.</th>
            <th scope="col">Name</th>
            <th scope="col">Added</th>
            <th scope="col">Size</th>
            <th scope="col">S</th>
            <th scope="col">L</th>
            <th scope="col">C</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Movies / Fantasy</td>
            <th scope="row">
                <a href="#">No future in the last lands</a>
            </th>
            <td>15/02/2021, 14:09</td>
            <td>4.5 GB</td>
            <td>8</td>
            <td>2</td>
            <td>27</td>
        </tr>
        <tr>
            <td>Animation</td>
            <th scope="row">
                <a href="#">Big buck bunny</a>
            </th>
            <td>14/02/2021, 09:29</td>
            <td>1.6 GB</td>
            <td>17</td>
            <td>6</td>
            <td>97</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Linux / App</td>
            <th scope="row">
                <a href="#">Atome editor IDE</a>
            </th>
            <td>11/02/2021, 20:14</td>
            <td>185 MB</td>
            <td>12</td>
            <td>1</td>
            <td>22</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}
