<div class="border border-dark rounded mt-3">
    <h6 class="bg-light py-2 ps-3">Liens</h6>
    <ul class="list-group list-group-flush text-justify">
        <li class="list-group-item">
            <a href="{{ citizenz }}" target="_blank" class="text-dark text-decoration-none">
                blog geek & libre : citizenz.info
            </a>
        </li>
    </ul>
</div>
