<div class="border border-dark rounded py-1 px-3 d-flex justify-content-center">
    <a href="{{ path('recherche') }}" class="text-decoration-none text-dark">
        <button type="button" class="btn btn-sm btn-outline-success"><i class="fas fa-search"></i></button>
        Faire une recherche
    </a>
</div>
