<div class="border border-dark rounded mt-3 py-1 px-3 d-flex justify-content-center">
    <a href="{{ facebook }}"><i class="fab fa-facebook-square fa-3x mx-1 social-network-facebook"></i></a>
    <a href="{{ twitter }}"><i class="fab fa-twitter-square fa-3x mx-1 social-network-twitter"></i></a>
    <a href="{{ github }}"><i class="fab fa-github-square fa-3x mx-1 social-network-github"></i></a>
    <a href="#"><i class="fas fa-rss-square fa-3x mx-1 social-network-rss"></i></a>
    <a href="{{ path('contact') }}"><i class="fas fa-envelope-square fa-3x mx-1"></i></a>
</div>
