<h1>Bonjour, veuillez confirmer votre adresse e-mail.</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant  : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez votre adresse e-mail</a>.
    Le lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialment,
    L'équipe ft4a.fr
</p>
