<p>Bonjour,</p>
    
<p>
    Vous venez de créer un compte sur ft4a.fr.<br>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant afin d'activer votre compte :
</p>

<p>
    <a href="{{ signedUrl|raw }}">Confirmez votre adresse e-mail</a>
    <br>
    Attention, le lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement,<br>
    L'équipe ft4a.fr
</p>
