{% extends 'base.html.twig' %}

{% block title %}{{ site_url}}: Administration{% endblock %}

{% block body %}
    <h1>Admin section</h1>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-torrents-tab" data-bs-toggle="pill" data-bs-target="#pills-torrents" type="button" role="tab" aria-controls="pills-torrents" aria-selected="true">Torrents</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-categories-tab" data-bs-toggle="pill" data-bs-target="#pills-categories" type="button" role="tab" aria-controls="pills-categories" aria-selected="false">Categories</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-licences-tab" data-bs-toggle="pill" data-bs-target="#pills-licences" type="button" role="tab" aria-controls="pills-licences" aria-selected="false">Licences</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-members-tab" data-bs-toggle="pill" data-bs-target="#pills-members" type="button" role="tab" aria-controls="pills-members" aria-selected="false">Members</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-torrents" role="tabpanel" aria-labelledby="pills-torrents-tab">Torrents</div>
        <div class="tab-pane fade" id="pills-categories" role="tabpanel" aria-labelledby="pills-categories-tab">categories</div>
        <div class="tab-pane fade" id="pills-licences" role="tabpanel" aria-labelledby="pills-licences-tab">licences</div>
        <div class="tab-pane fade" id="pills-members" role="tabpanel" aria-labelledby="pills-members-tab">members</div>
    </div>





{% endblock %}
