{% extends 'base.html.twig' %}

{% block title %}{{ site_url }} : Edtion de la catégorie {{ category.title }}{% endblock %}

{% block body %}
    <h2>Edition de la catégorie : {{ category.title }}</h2>
    {{ include('categories/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
