<mjml>
    <mj-body background-color="#f2f1f1">
        <mj-section>
            <mj-column>
                <mj-image width="100px" src="./img/logo.png"></mj-image>
            </mj-column>
        </mj-section>

        <mj-section padding-bottom="0">
            <mj-column background-color="#fff">
                <mj-text padding-bottom="5px" padding-top="35px" padding-left="30px" align="center">
                    <h1>{% block title %}Bonjour !{% endblock %}</h1>
                </mj-text>
            </mj-column>
        </mj-section>

        {% block content %}
        {% endblock %}

        <mj-section>
            <mj-column>
                <mj-text>Nous suivre :</mj-text>
            </mj-column>
            <mj-column>
                <mj-text>
                    <a href="#" style="padding-right:10px"><img width="32px" src="./img/facebook.png"></a>
                    <a href="#" style="padding-right:10px"><img width="32px" src="./img/twitter.png"></a>
                    <a href="#"><img width="32px" src="./img/insta.png"></a>
                </mj-text>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-text>
                    Cordialement,<br/>
                    L'équipe ft4a.fr
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
