{% extends 'base.html.twig' %}

{% block title %}Edit Torrents{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm mt-3">
            <h1>Edit Torrents</h1>

            {{ include('torrents/_form.html.twig', {'button_label': 'Update'}) }}

        </div>
    </div>
{% endblock %}
