{% extends 'base.html.twig' %}

{% block title %}{{ site_url}} : ajouter un torrent{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm mt-3">
            <h1>Ajouter un torrent</h1>

            <div class="bg-warning rounded p-3 my-3">
                URL d'annonce : http://www.ft4a.fr:55555/announce
            </div>

            {{ include('torrents/_form.html.twig') }}
        </div>
{#        {% block sidebar %}#}
{#            {{ sidebar() }}#}
{#        {% endblock %}#}
    </div>
{% endblock %}
