{% extends 'base.html.twig' %}

{% block title %}{{ site_url}} : ajouter un torrent{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm mt-3">
            <h1>Ajouter un torrent</h1>

            {{ include('torrents/_form.html.twig') }}
        </div>
        {% block sidebar %}
            {{ sidebar() }}
        {% endblock %}
    </div>
{% endblock %}
