{% extends 'base.html.twig' %}

{% block title %}Edit Licences{% endblock %}

{% block body %}
    <h1>Edit Licences</h1>

    {{ include('licences/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('licences/_delete_form.html.twig') }}
{% endblock %}
