{% extends 'base.html.twig' %}

{% block title %}New licence{% endblock %}

{% block body %}
        <div class="row">
        <div class="col-sm mt-3">
    <h1>Create new licence</h1>

    {{ include('licences/_form.html.twig') }}
        </div>
            {% block sidebar %}
                {{ sidebar() }}
            {% endblock %}
        </div>

{% endblock %}
