{% extends 'base.html.twig' %}

{% block title %}Licences{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm mt-3">

            <h1>Licences</h1>

            Torrents avec cette licence :

            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-sm btn-warning" href="{{ path('licences_edit', {'id': licence.id}) }}"><i class="fas fa-edit"></i></a>
            {% endif %}
        </div>
        {% block sidebar %}
            {{ sidebar() }}
        {% endblock %}
    </div>
{% endblock %}
